@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+GDL&family=Quando&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Quando", serif;
  font-weight: 400;
  font-style: normal;
}